<router-outlet></router-outlet>

<glass-background 
[config]=
"{
    type: '', 
    mouse_follow: true, 
    gradient: 'radial'
}"
>
</glass-background>

<div class="f f-col f-center">

    <glass-selector
    [items]=
    "[
        {
            title: 'title1', 
            description: 'description1', 
            img_src: 'img_src1',
            link: 'link1',
            tags: ['daora', ' daora ']
        },
        {
            title: 'title1', 
            description: 'description1', 
            img_src: 'img_src1',
            link: 'link1',
            tags: ['Daora', ' daora ', 'pastel aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa',]
        },
        {
            title: 'title1', 
            description: 'description1', 
            img_src: 'img_src1',
            link: 'link1',
            tags: ['pastel']
        },
        {
            title: 'title1', 
            description: 'description1', 
            img_src: 'img_src1',
            link: 'link1'
        }
    ]"

    [config]=
    "{ 
        title: 'My portifolio', 
        width: '90vw', 
        height: '90vh'
    }"
    >
    </glass-selector>
   

</div>