<glass-loading></glass-loading>

<glass-background 
    [config]=
    "{
        type: '', 
        mouse_follow: false, 
        gradient: 'radial'
    }"
></glass-background>

<glass-navbar
    [config]=
    "{
        title_start: ['luvas.io'],
        title_end: [],
        links: [
            [
                {title: '', link: '/', classes: ['icon', 'ion-ios-home-outline']},
            ],
            [
                {title: 'portfolio', link: '/portfolio', classes: ['icon', 'ion-ios-briefcase-outline', ]},
                {title: 'resume', link: '/resume', classes: ['icon', 'ion-ios-list-outline']},
            ]
        ]
    }"
></glass-navbar>

<div class="body-container-outer">    
<ngx-simplebar [options]="sbOptions" #bodySb>
<div class="body-container">    
<div class="body-margin">    

    <router-outlet></router-outlet>    

</div>
</div>
</ngx-simplebar>
</div>
