@use "./../glass.scss" as glass;

.glass-background-wrap {
    z-index: -9;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

}

.glass-background-main {
    z-index: -9;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
}

// ---------------------------------

.glass-background-default {
    background-color: glass.$color-base;
}

.glass-background-light {
    background-color: glass.$color-highlight;
}

.glass-background-dark {
    background-color: glass.$color-shadow;
}



