@use "./../glass.scss" as glass;

$gradient-base: glass.$color-base;
$gradient-shadow: glass.$color-shadow;

.glass-background-main {
    z-index: -10;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
}

.glass-background-wrap {
    z-index: -9;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
}

.glass-background-wrap-blur {
    z-index: -9;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
}

.glass-background-inner {
    z-index: -8;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
}

.glass-background-gradient {
    z-index: -7;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 0.1;
}
// ---------------------------------

.glass-background-default {
    background-color: glass.$color-base;
}

.glass-background-light {
    background-color: glass.$color-highlight;
}

.glass-background-dark {
    background-color: glass.$color-shadow;
}

// ---------------------------------


