<div class="glass-background-main">

    <div  class="glass-background-wrap">

        @switch(config.type) {
            @case ("light") {
                <div class="glass-background-inner glass-background-light" [ngClass]="extra_classes"></div>
            }

            @case ("dark") {
                <div class="glass-background-inner glass-background-dark" [ngClass]="extra_classes"></div>
            }
            
            @default {
                <div class="glass-background-inner glass-background-default" [ngClass]="extra_classes"></div>
            }
        }

        @switch(config.gradient) {
            @case ("radial") {
                <div class="glass-background-gradient" [ngClass]="extra_classes" [ngStyle]="{background: radial_gradient}"></div>
            }
            @default {}
        }

    </div>

    <div class="glass-background-wrap-blur"></div>

</div>





