@use "./../glass.scss" as glass;
@use "sass:color";

::ng-deep glass-navbar {
    width: 100vw;
    min-width: 100vw;

    position: fixed;

    z-index: 10;
}

.glass-navbar-main {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    position: fixed;
    top: 0;

    z-index: 10;
}

.glass-navbar-sub {
    background-color: glass.$color-shadow;
    
    height: 20px;
    width: 100vw;
    min-width: 100vw;

    position: fixed;
    top: 0px;

    opacity: 1;
    
    z-index: 1000;

    cursor: pointer;

    overflow: hidden;

    z-index: 11;
}

.glass-navbar-info {
    $red: color.channel(glass.$color-shadow, "red", $space: rgb);
    $green: color.channel(glass.$color-shadow, "green", $space: rgb);
    $blue: color.channel(glass.$color-shadow, "blue", $space: rgb);

    $shift: -15;

    background-color: rgba(calc(#{$red} - $shift), calc(#{$green} - $shift), calc(#{$blue} - $shift), 0.9);
    height: 60px;

    padding-bottom: 2px;

    position: fixed;
    top: -60px;

    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    overflow: hidden;

    border-radius: 0;

    z-index: 11;
}

.glass-navbar-margin {
    height: 20px;

    width: 100vw;
    min-width: 100vw;

    display: flex;
}

.glass-navbar-title-start {
    color: glass.$color-text;

    opacity: 1;

    word-break: keep-all;
    white-space: nowrap;

    font-size: 14px;
    font-weight: 100;
    text-align: center;
    font-family: glass.$font-sub;

    margin-left: 3px;

    letter-spacing: 1.2px;

    cursor: pointer;

    transition: 0.3s;
}

.glass-navbar-title-start:hover {
    transition: 0.3s;

    color: rgb(242, 0, 255);
}

.glass-navbar-title-mid-wrap {
    position: relative;

    width: 0;
    height: 0;
}

.glass-navbar-title-mid-wrap2 {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.glass-navbar-title-end {
    color: glass.$color-text;

    opacity: 1;

    font-size: 18px;
    font-weight: 800;
    text-align: center;

    transform: rotate(90deg);

    cursor: pointer;

    transition: 0.3s;
}

.glass-navbar-title-end:hover {
    color: rgb(242, 0, 255);

    transition: 0.3s;
}

.glass-navbar-title-mid {
    color: glass.$color-text;

    opacity: 1;

    font-size: 12px;
    font-weight: 100;
    text-align: center;

    margin-right: 3px;

    letter-spacing: 1.5px;
}

.glass-navbar-title-end-info {
    color: glass.$color-text;

    opacity: 1;

    font-size: 9pt;
    font-weight: 100;
    text-align: center;

    margin-right: 3px;

    letter-spacing: 1.5px;

    word-wrap: keep-all;
    white-space: nowrap;
}

.glass-navbar-link {
    margin-left: 8px;

    color: glass.$color-text;
    
    text-decoration: none;

    font-size: 18pt;
    font-family: glass.$font-sub;

    padding: 5px;

    cursor: pointer;

    border: 2px solid glass.$color-text;
    border-radius: 5px;

    padding-right: 10px;
    padding-left: 10px;

    opacity: 0.7;
    transition: 0.3s;
}

.glass-navbar-link:hover {

    opacity: 1;
    color: glass.$color-text;
    transition: 0.3s;
}

.glass-navbar-title-start-info {
    margin: 2px;

    font-family: glass.$font-sub;

    font-size: 14pt;
    font-weight: 300;
}

.glass-navbar-guard {
    display: block;

    width: 2px;
    min-width: 2px;
    height: 46px;

    padding: 0;
    margin: 0;
    margin-left: 8px;
}

.glass-navbar-info-start {
    padding-left: 10px; 
    padding-top: 4px;
}

.glass-navbar-info-mid {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    overflow: auto;
}

.glass-navbar-info-end {
    height: 60px;
}

.glass-navbar-info-sb {
    width: 100%;
    height: 60px;
}

::ng-deep.glass-navbar-info-sb .simplebar-content {
    display: flex !important;
    justify-content: start;
    flex-direction: row;
    height: 56px;
    padding-bottom: 4px !important;
}

::ng-deep.glass-navbar-info-sb .simplebar-scrollbar::before {
    margin-top: 3px;
    height: 5px;
    
}

@media screen and (orientation: portrait) {
    .glass-navbar-title-end-info {
        font-size: 7pt;
    }
}