<div class="f f-row f-center w100 glass-navbar-margin"></div>

<div class="f f-col f-center w100 glass-navbar-main shadow glass" #glassNavbar>

    <div class="f f-row f-center w100 glass-navbar-info">

        <div class="f f-row f-start w100" style="padding-left: 10px; padding-top: 4px;">
            
            <div class="f f-col f-center" style="height: 60px;">
                @for (item of config.title_start; track item){
                    <h2 class="glass-navbar-title-start-info">{{item}}</h2>
                }
            </div>

            @for (group of config.links; track group){ 
                <div class="f f-row f-center" style="height: 60px;">
                    <div class="line-break-vertical glass-navbar-guard"></div>
                    @for (item of group; track item){
                        <div class="f f-col f-center h100" [style.padding]="item.padding">
                        <a class="glass-navbar-link" (click)="redirectService.navigateTo(item.link);">{{item.title}}</a>
                        </div>
                    }
                </div>

            }

        </div>

        <div class="glass-navbar-title-mid-wrap">
        <div class="glass-navbar-title-mid-wrap2">    
            <h2 class="glass-navbar-title-mid"></h2>
        </div>
        </div>

        <div class="f f-row f-end w100">
            <div class="f f-col f-center" style="height: 60px; padding-right: 10px;">
            
            @for (item of config.title_end; track item){
                <h2 class="glass-navbar-title-end-info" style="margin: 2px;">{{item}}</h2>
            }
            
            </div>
        </div>


    </div>   

    <div class="f f-row f-center w100 glass-navbar-sub shadow glass">

        <div class="f f-row f-start">
            <h2 class="glass-navbar-title-start" style="margin-left:4px;" (click)="navigateToPart(-1);">{{URL}}</h2>
            @if (route_parts.length > 0){
                @for (item of route_parts; track item){
                    <h2 class="glass-navbar-title-start" (click)="navigateToPart($index);">{{item}}</h2>
                }
            }
        </div>

        <div class="glass-navbar-title-mid-wrap">
        <div class="glass-navbar-title-mid-wrap2">    
            <h2 class="glass-navbar-title-mid"></h2>
        </div>
        </div>

        <div class="f f-row f-end w100" style="padding-right: 10px;" (click)="toggleNav(glassNavbar)">
            <h2 class="glass-navbar-title-end" >❯</h2>
        </div>

    </div>  

</div>
