// Variables -----------------------

$color-base: #473d85;
$color-highlight: #c4ccff;
$color-shadow: #110f19;

$color-text: #f0f0f0;

$color-success: #f0f0f0;
$color-error: #f0f0f0;
$color-warning: #f0f0f0;

// ---------------------------------

// General -------------------------

body {
    margin: 0;
    padding: 0;

    z-index: -10;
}

div {
    margin: 0;
    padding: 0;
}

// ---------------------------------

