// Variables -----------------------

$color-base: #170a24;
$color-highlight: #c4ccff;
$color-shadow: #0e0d11;

$color-text: #f0f0f0;

$color-success: #f0f0f0;
$color-error: #f0f0f0;
$color-warning: #f0f0f0;

// ---------------------------------

// General -------------------------

body {
    margin: 0;
    padding: 0;

    z-index: -10;
}

div {
    margin: 0;
    padding: 0;
}

// ---------------------------------

// Flex ----------------------------

.f {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-center {
    justify-content: center;
    align-items: center;
}

// FX ------------------------------

.blur {
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    filter: blur(150px);
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}