<div class="glass-selector-main" [ngStyle]="{'width': config.width, 'height': config.height}">
<div class="glass-selector-main-sub f f-col f-center">

    <div class="glass-selector-main-header f f-col f-center">
    @if (config.title != null) {
        <div class="glass-selector-title f f-col f-center">
            <h1>{{config.title}}</h1>
        </div>
    }
    </div>

    <div class="glass-selector-main-items"  >
    <ngx-simplebar [options]="simpleBarOptions" #simplebar_list_instance> 
    <div class="glass-selector-wrap f f-col f-center">
        
        <div style="height: 10vh;"></div>

        @for (item of items; track item) {
            <div class="glass-selector-item f f-col f-center shadow" #id (mouseenter)="animateFadeIn(id)" (mouseleave)="animateFadeOut(id)">
                <div class="glass-selector-item-wrap f f-col f-center">

                    <h1>{{item.title}}</h1>
                    <p>{{item.description}}</p>

                    <a [href]="item.link">See more...</a>
                
                </div>
            </div>
        }

        <div style="height: 30vh;"></div>

    </div>
    </ngx-simplebar>
    </div>

</div>
</div>

