@use "./../glass.scss" as glass;

// Set the containers size to whatever you want
// Overwritten by TS!
$list-width: 100%;
$list-height: 100%;

// Everything
.glass-selector-main {
  overflow: hidden;
}

.glass-selector-main-sub {
  height: $list-height;
  max-height: 100vh;

  width: $list-width;

  overflow: hidden;
}

// Just the header
.glass-selector-main-header {
  height: 20%;
  width: 700px;
}

// Just the items
.glass-selector-main-items {
  height: 80%;
  width: $list-width;

  //box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.glass-selector-wrap {
  height: 100%;
  width: 100%;
}

.glass-selector-sb {
	max-height: 100%;
  max-width: 100%;
	min-height: 100px;
  min-width: 100px;
}

.glass-selector-item {
  width: 700px;
  max-width: 80%;

  min-height: 175px;

  border-radius: 10px;

  overflow: hidden;

  margin: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;

  cursor: pointer;

  scale: 1;

  transition: 0.3s;
}

.glass-selector-item:hover {
  scale: 1.05;

  transition: 0.3s;
}

//.glass-selector-item-wrap {}

.glass-selector-item-title {

  font-weight: 600;

  margin: 12px;
  margin-bottom: 0px;
  margin-left: 16px;
  padding: 0px;

  top: 100px;

  text-align: start;
}

.glass-selector-item-desc {
  margin: 10px;
  margin-top: 5px;
  margin-left: 18px;
  padding: 0px;

  text-align: start;
}

.glass-selector-item-tags {
  margin: 10px;
  margin-top: 0px;
  padding: 0px;

  min-height: 30px;

  text-align: start;

  display: block;
  float: left;
}

.glass-selector-item-tag {
  padding: 5px;
  margin: 5px;
  
  font-size: 10pt !important;

  float: left;

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.glass-selector-title {
  font-size: 20pt !important;
  font-weight: 600;

  margin: 0px;
  margin-bottom: 15px;
  padding: 6px;
}

.glass-selector-item-img {
  width: 90px;
  margin: 20px;
}

.glass-selector-item-img img {
  border-radius: 4px;
}

.glass-selector-item-btn-wrap {
  position: absolute;

  bottom: 10px;
  right: 20px;

  width: 80px;

  justify-content: center;
  display: flex;
}

.glass-selector-item-btn {
  width: 90px;
  height: 30px;

  color: rgb(151, 0, 202)
}

// Tagpicker
.glass-selector-tagpicker {
  margin: 0px;
  padding: 0px;
}

.glass-selector-tagpicker-button {
  margin: 0px;
  padding: 0px;

  font-weight: bolder;
}

.glass-selector-tagpicker-options-wrap {
  margin: 0px;
  padding: 0px;
  
  // Fixed position relative to the parent
  // Do not occupy space
  position: relative;
  width: 0px;
  height: 0px;

  left: -110px;

  z-index: 1;
}

.glass-selector-tagpicker-options-sb {
  width: 220px;
  max-height: 300px;

  margin: 0px;
  padding: 0px;

}

.glass-selector-tagpicker-options {
  width: 200px;
  height: 100%;
  
  padding: 10px;

  margin-top: 8px;

  z-index: 2;
}

.glass-selector-tagpicker-item {
  width: 100%;

  margin-top: 3px;
  margin-bottom: 3px;
}

.glass-selector-tagpicker-text {
  font-size: 12pt !important;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);

  word-break: break-all;

  margin: 0px;
  padding: 0px;
}

.glass-selector-tagpicker-img {
  content: url('/glass-assets/icons/filter-white.png');
}

.glass-selector-tagpicker-text-wrap {
  width: 100%;
}

.glass-selector-tagpicker-checkbox {
  margin: 0px;
  padding: 0px;

  width: 20px;
  height: 20px;
}

// Simplebar
::ng-deep .simplebar-scrollbar::before {
  background-color: rgba(255, 255, 255, 0.4) !important;

  margin: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::ng-deep.glass-selector-tagpicker-options-sb .simplebar-scrollbar::before {
  margin-top: 20px;
}

::ng-deep.glass-selector-tagpicker-options-sb .simplebar-content-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

// Mobile

@media screen and (orientation: portrait) {

  .glass-selector-item-wrap {
    flex-direction: column;
  }

  .glass-selector-item {
    margin-left: 20px;
    margin-right: 20px;

    max-width: 92%;
  }

  .glass-selector-item-tags {
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;  
  }

  .glass-selector-img-wrap {
    width: 100%;

    display: flex;
    flex-direction: row;

    margin: 0px;
  }

  .glass-selector-item-img {
    margin: 20px;
    margin-top: 10px;

    justify-content: start;
    flex-direction: row;

    width: 100%;
  }

  .glass-selector-item-img img {
    height: 90px;
    width: initial;

    margin: 0px;
  }

  .glass-selector-item-btn-wrap {
    bottom: 5px;
    right: 15px;
  }
}
