<div class="glass-selector-main" [ngStyle]="{'width': config.width, 'height': config.height}">
<div class="glass-selector-main-sub f f-col f-center">

    <div class="glass-selector-main-header f f-col f-center">
    
        @if (config.title != null) {
        <div class="glass-selector-title f f-col f-center">
            <h1>{{config.title}}</h1>
        </div>
        }
    
        <div class="glass-selector-tagpicker f f-col f-center" #id_picker_wrap>

            <button class="glass-selector-tagpicker-button btn-square" (click)="picker_update_open(id_picker_wrap);">
                <div class="f f-row f-center">
                <div class="f f-col f-center">
                <img class="glass-selector-tagpicker-img" width="28px">
                </div>
                </div>
            </button>
            
            @if (picker_open) {
                <div class="glass-selector-tagpicker-options-wrap">
                <ngx-simplebar class="glass-selector-tagpicker-options-sb" [options]="simpleBarOptions">     
                <div class="glass-selector-tagpicker-options glass-plane shadow f f-col f-end" #id_picker>

                    @for (item of tagAndFreq; track item) {

                        <div class="glass-selector-tagpicker-item f f-row f-center">
                            <div class="glass-selector-tagpicker-text-wrap f f-row f-start">
                                <p class="glass-selector-tagpicker-text">{{item.tag + " (" + item.freq + ")"}}</p>
                            </div>

                            <input type="checkbox" [checked]="item.selected" [name]="item.tag" class="glass-selector-tagpicker-checkbox" #id_picker_checkbox (click)="picker_update_selection(id_picker, id_picker_checkbox)">
                        </div>

                        @if (item.tag == 'ALL') {
                            <div class="line-break"></div>
                        }
                        
                    }

                </div>
                </ngx-simplebar>
                </div>
            }

        </div>
    
    </div>

    <div class="glass-selector-main-items"  >
    <ngx-simplebar class="glass-selector-sb" [options]="simpleBarOptions" #simplebar_list_instance> 
    <div class="glass-selector-wrap f f-col f-center">
        
        <div style="height: 2vh;"></div>

        @for (item of items; track item) {
            @if (item.show) {
                <div class="glass-selector-item glass-plane shadow f f-col f-center" #id (mouseenter)="animateFadeIn(id)" (mouseleave)="animateFadeOut(id)" (click)="centerItem(id, simplebar_list_instance)">
                    <div class="glass-selector-item-wrap f f-col f-start w100 h100">
                    <div class="glass-selector-item-wrap f f-row f-start w100 h100">
                        
                        <div class="f f-col f-start w100 h100">
                            <div class="f f-row f-start h100 glass-selector-item-title">
                            <h1>{{item.title}}</h1>
                            </div>
                            
                            <div class="f f-row f-start h100 glass-selector-item-desc">
                            <p>{{item.description}}</p>    
                            </div>

                            <div class="glass-selector-item-tags">

                                @for (tag of item.tags; track tag) {
                                    <div class="glass-selector-item-tag">
                                        <p>{{tag}}</p>   
                                    </div>
                                }

                            </div>
                        </div>

                        <div class="glass-selector-img-wrap f f-col f-center h100">

                            <div class="f f-col f-center glass-selector-item-img">
                            <img [src]="item.img_src" width="100%">
                            </div>

                            <div class="f f-col f-center" style="height: 32px;"></div>

                            <div class="glass-selector-item-btn-wrap">
                                <a class="glass-selector-item-btn glass-selector-item-link" (click)="redirectService.navigateTo(item.link)"> See more </a>  
                            </div>

                        </div>

                    </div>
                    </div>
                </div>
            }
        }

        <div style="height: 30vh;"></div>

    </div>
    </ngx-simplebar>
    </div>

</div>
</div>