@use "./../glass.scss" as glass;

// Set the containers size to whatever you want
// Overwritten by TS!
$list-width: 100%;
$list-height: 100%;

// Everything
.glass-selector-main {
  overflow: hidden;
}

.glass-selector-main-sub {
  height: $list-height;
  max-height: 100vh;

  width: $list-width;

  overflow: hidden;
}

// Just the header
.glass-selector-main-header {
  height: 20%;
  width: $list-width;
}

// Just the items
.glass-selector-main-items {
  height: 80%;
  width: $list-width;

  //box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.glass-selector-wrap {
  height: 100%;
  width: 100%;
}

ngx-simplebar {
	max-height: 100%;
  max-width: 100%;
	min-height: 100px;
  min-width: 100px;
}

.glass-selector-item {
  width: 700px;
  max-width: 80%;

  min-height: 175px;

  border-radius: 10px;

  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  margin: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0px;

  cursor: pointer;

  scale: 1;

  transition: 0.3s;
}

.glass-selector-item:hover {
  scale: 1.05;

  transition: 0.3s;
}

//.glass-selector-item-wrap {}

.glass-selector-title {
  font-size: 1.5em;
  font-weight: 600;

  color: rgba(255, 255, 255, 1);

  margin: 0px;
  padding: 0;
}

.glass-selector-tagpicker-item {
  height: 20px;
}

.glass-selector-tagpicker {
  margin: 0px;
  padding: 0px;
}

::ng-deep .simplebar-scrollbar::before {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
