::ng-deep glass-presentation-media {
    width: 100%;
}

.glass-p-image-viewport {
    overflow: hidden;

    border-radius: 10px;

    background-color: #5a5a5a3b;
}

.glass-p-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.glass-p-image-wrap img {
    z-index: 1;
}