<div class="f f-col f-center w100">

    <div class="f f-row f-center glass-p-image-viewport shadow glass" #imageViewport>

        <div class="f f-row f-center glass-p-image-wrap" [style.max-width]="config.width" [style.height]="'auto'">
        @for (item of content; track item){
            <div class="f f-row f-center glass-p-image-wrap2" [style.width]="'100%'" [style.height]="config.height" style="flex-shrink: 0;">

            @if(shouldBeLoaded($index)) {
                @if (isImage(item.src)){
                    <img [src]="item.src" [style.width]="'auto'" [style.height]="'auto'" [style.max-width]="config.width" [style.max-height]="'100%'"/>
                }
                
                @else if (isVideo(item.src)){
                    <video [src]="item.src" [style.width]="'auto'" [style.height]="'auto'" [style.max-width]="config.width" [style.max-height]="'100%'" autoplay loop muted controls></video>
                }
            } 

            </div>
        }
        </div>
    </div>

    @if (image_total > 1){

        <div class="f f-row f-center" style="margin: 10px;">
            <div class="f f-col f-center btn-square glass-p-media-btn" (click)="goLeft(imageViewport)">
                <h2><</h2>
            </div>

            <div class="f f-col f-center" style="margin-left: 10px; margin-right: 10px;">
                <p>{{image_index + 1}} / {{image_total}}</p>
            </div>

            <div class="f f-col f-center btn-square glass-p-media-btn" (click)="goRight(imageViewport)">
                <h2 >></h2>
            </div>
        </div>

    }

</div>
  
