<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<div class="f f-col f-center">

    <glass-selector
    [items]=
    "[

        {
            title: 'Cecomp.com.br', 
            description: 'A website for the Computer Science Center of USP-RP made as a freelance. Aims to automate multiple processes and provide information to students.', 
            img_src: 'pages/projects/cecompcombr-proj-page/cecomp-icon.png',
            link: 'portfolio/cecompcombr',
            tags: ['WEB-DEV', 'NODE', 'MongoDB', 'CLOUD', 'JavaScript', 'HTML', 'CSS']
        },

        {
            title: 'Luvas.io', 
            description: 'My professional website. A simple project aiming to help, test and show other projects.', 
            img_src: 'favicon.ico',
            link: 'portfolio/luvasio',
            tags: ['WEB-DEV', 'ANGULAR', 'NODE', 'DOCKER', 'CLOUD', 'TypeScript', 'JavaScript', 'HTML', 'CSS', 'SCSS']
        },

    ]"

    [config]=
    "{ 
        title: 'My portfolio', 
        width: '90vw', 
        height: '90vh'
    }"
    >
    </glass-selector>
   

</div>