::ng-deep.inner-resume {
    height: 70vh;
}

.mobile {
    height: 0px;
}

@media screen and (orientation: portrait) {

    ::ng-deep.inner-resume {
        height: 55vh !important;
    }

    .mobile {
        height: 200px;
    }
}