<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<div class="f f-row f-center" style="height: 90%; max-height: 800px; width: 100%; margin-top: 20px; margin-bottom: 20px;">
<div class="f f-col f-center" style="height: 90%; max-width: 900px; width: 98%;">

    <iframe src="./pages/resume/resume.html" style="height: 100%; width: 100%; background-color: white;"></iframe>

    <button class="btn btn-wide" style="margin: 20px;" (click)="downloadPDF()">Download PDF</button>

</div>    
</div>


