<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<glass-background 
[config]=
"{
    type: '', 
    mouse_follow: false, 
    gradient: 'radial'
}"
></glass-background>

<glass-navbar
[config]=
"{
    title_start: ['luvas.io'],
    title_end: ['Created by', 'Lucas Miranda'],
    links: [
        [
            {title: '🏠', link: '/', padding: '0 0 5px 0'},
        ],
        [
            {title: '📒', link: '/portifolio', padding: '0 0 2px 0'},
            {title: '📒', link: '/portifolio', padding: '0 0 2px 0'},
            {title: '📒', link: '/portifolio', padding: '0 0 2px 0'},
        ]
    ]
}"
></glass-navbar>

<glass-presentation
[content]=
"[

    [
        {type: 'media', 
            content: [
                {src: 'glass-assets/icons/filter-white.png'},
                {src: 'glass-assets/icons/filter-white.png'}
            ], 
            config: {width: '100px', height: '100px'}
        },

        {type: 'media', 
            content: [
                {src: 'glass-assets/icons/filter-white.png'},
                {src: 'glass-assets/icons/filter-white.png'}
            ], 
            config: {width: '100px', height: '100px'}
        },

        {type: 'text', content: [{type: 'title', content: 'Sussa1', classes:[]}] },
        {type: 'link', content: [{type: 'button', content: 'imalink3', onclick: 'navigateTo(`portifolio`)', classes: ['edinaldo', 'pereira']}], config: {orientation: 'horizontal'}},
        
    ],
    [
        {type: 'media', content: [{src: 'glass-assets/icons/filter-white.png'}], config: {width: '100px', height: '100px'}},
        {type: 'text', content: [{type: 'title', content: 'Sussa2', classes:[]}] },
        {type: 'link', content: [{type: 'button', content: 'imalink3', onclick: 'navigateTo(`portifolio`)', classes: ['edinaldo', 'pereira']}], config: {orientation: 'horizontal'}},
    ]



]"
></glass-presentation>