<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<glass-presentation
[content]=
"[
    [
        {type: 'text', content: [{type: 'title', content: 'Greetings! My name is Lucas Miranda.', classes:['m-up', 'm-left', 'm-right', 'txt-align-start', 'w100']}]},
        {type: 'text', content: [{type: 'subtitle', content: 'Currently a Computer Science student at University of São Paulo (USP).', classes:['m-left', 'm-right', 'txt-align-start', 'w100']}] },
        {type: 'text', content: [{type: 'subtitle', content: 'Software developer and computer enthusiast.', classes:['m-left', 'm-right', 'txt-align-start', 'w100']}] },
    ],

    [
        {type: 'space', content: {classes: ['m-up', 'w100']}},
        {type: 'text', content: [{type: 'text', content: 'Useful links:', classes:['m-left', 'm-right', 'txt-align-center', 'w100']}] },
        {type: 'link', 
            content: [
                {
                    type: 'button', content: 'My Portifolio', onclick: 'navigateTo(`portifolio`)', 
                    classes: []
                },
                {
                    type: 'button', content: 'My CV / Resume', onclick: 'navigateTo(`resume`)', 
                    classes: []
                },
                {
                    type: 'button', content: 'Github', onclick: 'navigateTo(`https://github.com/miiranta`)', 
                    classes: []
                },
                {
                    type: 'button', content: 'LinkedIn', onclick: 'navigateTo(`https://linkedin.com/in/miiranta`)', 
                    classes: []
                },

            ], 
            config: {orientation: 'horizontal'}
        },
        
    ],

    [
        {type: 'space', content: {classes: ['m-up', 'w90vw']}},
        {type: 'text', content: [{type: 'subtitle', content: 'What\'s that website?', classes:['m-left', 'm-right', 'txt-align-center', 'w100']}] },
        {type: 'text', content: [{type: 'text', content: 'This is my professional website. A simple project aiming to help, test and show other projects.', classes:['m-left', 'm-right', 'txt-align-center', 'w100']}] },
        {type: 'link', 
            content: [
                {
                    type: 'link', content: 'About this website', onclick: 'navigateTo(`portifolio/luvasio`)', 
                    classes: []
                }
            ], 
            config: {orientation: 'horizontal'}
        }
    ],

    [
        {type: 'space', content: {classes: ['m-up', 'w90vw']}},
        {type: 'text', content: [{type: 'subtitle', content: 'How can i contact you?', classes:['m-left', 'm-right', 'txt-align-center', 'w100']}] },
        {type: 'link', 
            content: [
                {
                    type: 'link', content: 'lucasmi@usp.br', onclick: 'emailTo(`lucasmi@usp.br`)',
                    classes: []
                },
                {
                    type: 'link', content: 'lucasrezende12@hotmail.com', onclick: 'emailTo(`lucasrezende12@hotmail.com`)',
                    classes: []
                },
            ], 
            config: {orientation: 'horizontal'}
        },
        {type: 'link', 
            content: [
                {
                    type: 'link', content: '+55 22 988121205', onclick: 'navigateTo(`https://wa.me/5522988121205`)',
                    classes: []
                }
            ], 
            config: {orientation: 'vertical'}
        },
        {type: 'space', content: {classes: ['m-up', 'w90vw']}},
    ],

    [
        {type: 'space', content: {classes: ['m-up', 'w90vw']}}
    ]

]"
></glass-presentation>

<div style="height: 100px;"></div>