<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<div class="f f-col f-center">

    <glass-selector
    [items]=
    "[
        {
            title: 'Luvas.io', 
            description: 'My professional website. A simple project aiming to help, test and show other projects.', 
            img_src: 'favicon.ico',
            link: 'portifolio/luvasio',
            tags: ['WEB-DEV', 'ANGULAR', 'NODE', 'JS', 'TS', 'HTML', 'CSS', 'SCSS', 'DOCKER', 'CLOUD']
        },
        
    ]"

    [config]=
    "{ 
        title: 'My portifolio', 
        width: '90vw', 
        height: '90vh'
    }"
    >
    </glass-selector>
   

</div>