<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<glass-presentation
[content]=
"[
    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'My professional website project.', classes:['m-left', 'm-right', 'txt-align-center', 'w100']},
        ]},
        {type: 'space', content: {classes: ['m-up', 'w90vw']}}
    ],

    [
        {type: 'space', content: {classes: ['m-right', 'm-left']}},
        {type: 'text', content: [
            {type: 'text', content: 'Luvas.io is my professional website.', classes:['m-left', 'm-right', 'txt-align-start', 'w100']},
            {type: 'text', content: 'A simple project aiming to help, test and show other projects.', classes:['m-left', 'm-right', 'txt-align-start', 'w100']}
        ]},
        {type: 'space', content: {classes: ['m-up']}},
        {type: 'link', 
            content: [
                {
                    type: 'button', content: 'Try it out!', onclick: 'navigateTo(`https://luvas.io`)', 
                    classes: []
                },
                {
                    type: 'button', content: 'Github repository', onclick: 'navigateTo(`https://github.com/miiranta/luvas.io`)', 
                    classes: []
                }
                
            ], 
            config: {orientation: 'horizontal'}
        }
        
    ],

    [
        {type: 'media', content: [
            {src: 'pages/projects/luvasio-proj-page/luvasio.gif'},
            {src: 'pages/projects/luvasio-proj-page/luvasio1.png'},
            {src: 'pages/projects/luvasio-proj-page/luvasio2.png'},
            {src: 'favicon.ico'},
        ], config: {width: '400px', height: '200px'}},
    ],

    [
        {type: 'space', content: {classes: ['w90vw']}},
    ],

    [
        {type: 'space', content: {classes: ['m-right', 'm-left', 'w40vw']}},
        {type: 'text', content: [
            {type: 'subtitle', content: '*How can i test it?*', classes:['m-up', 'm-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'You are testing it right now ;)', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'You can click <a onclick=\'navigateTo(`https://luvas.io`)\'>*Try it out*</a> to go back to the home page, or use the *navigation bar* at the top of the page to explore.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
        ]},
    ],

    [
        {type: 'space', content: {classes: ['m-right', 'm-left', 'w40vw']}},
        {type: 'text', content: [
            {type: 'subtitle', content: '*What problem does it solve?*', classes:['m-up', 'm-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: '1. There was no good way of showing my portifolio, since github is for code and CVs are not appropriate for other media than text.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: '2. One \'framework website\' is helpful for implementing APIs used for multiple other projects, instead of reimplementing for each one of them.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
        ]},
    ],

    [
        {type: 'space', content: {classes: ['m-right', 'm-left', 'w40vw']}},
        {type: 'text', content: [
            {type: 'subtitle', content: '*How was it implemented?*', classes:['m-up', 'm-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: '*Angular* for the frontend. *NodeJS/Express* for the backend. *Docker* and a VPS for deploy. ', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'Styles and animations are custom-made. ', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'Be free to check the technical documentation by clicking <a onclick=\'navigateTo(`https://github.com/miiranta/luvas.io`)\'>*Github repository*</a>.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
        ]},
    ],

    [
        {type: 'space', content: {classes: ['m-right', 'm-left', 'w40vw']}},
        {type: 'text', content: [
            {type: 'subtitle', content: '*Credits*', classes:['m-up', 'm-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'Created by *Lucas Miranda*.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
            {type: 'text', content: 'Some libraries were used, such as SimpleBar, Ionicons and Greenlock.', classes:['m-left', 'm-right', 'txt-align-start', 'w40vw']},
        ]},
    ],

    [
        {type: 'space', content: {classes: ['w90vw', 'm-up-200']}},
    ],

    

]"
></glass-presentation>