<glass-loading-close-on-view-init></glass-loading-close-on-view-init>

<glass-presentation
[content]=
"[
    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],

    [
        {type: 'text', content: [
            {type: 'title', content: 'Luvas.io', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']},
            {type: 'subtitle', content: 'Personal website project', classes:['m-up', 'm-left', 'm-right', 'txt-align-center', 'w100']}
        ]},
    ],
]"
></glass-presentation>